In [7]:
import pandas as pd
df=pd.read_csv("salaries.csv")
df.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [3]:
input=df.drop("salary_more_then_100k",axis=1)
input

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [5]:
target=df['salary_more_then_100k']
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
company1=LabelEncoder()
job1=LabelEncoder()
degree1=LabelEncoder()3

In [9]:
input["company_n"]=company1.fit_transform(input["company"])
input["job_n"]=job1.fit_transform(input["job"])
input["degree_n"]=degree1.fit_transform(input["degree"])

In [10]:
inputs_n=input[["company_n","job_n","degree_n"]]

In [11]:
from sklearn import tree

In [12]:
model=tree.DecisionTreeClassifier()

In [14]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [15]:
model.score(inputs_n,target)

1.0

In [16]:
model.predict([[2,1,0]])

C:\Users\pravallika\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)